@use '../foundation' as *;

footer {
  background-color: $color-header;
}

footer .footer-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 60px 60px 0 60px;

  box-shadow: 0 0 5px #a0a0a0;
}

footer .content {
  margin-right: 40px;
  margin-bottom: 40px;

  &__title {
    font-size: 1.4rem;

    margin-bottom: 24px;
  }

  &__list {
    li {
      font-size: 0.9rem;

      padding-bottom: 12px;

      a {
        transition: 0.2s;
        &:hover {
          color: dark($color-main);
        }
      }
    }
  }
}

footer .footer-title {
  font-size: 3rem;

  margin: 0 24px;

  text-align: right;

  @include mq-down(xs) {
    text-align: center;
  }
}

#copyright {
  font-size: 1rem;

  margin: 0;
  padding: 8px;

  text-align: center;

  color: $color-main;
}