@use '../foundation' as *;

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 259px;
  background-color: $color-primary;

  @include mq-down(lg) {
    padding: 0;
  }

  @include mq-down(md) {
    height: auto;
    padding: 49px 0 62px;
  }
}

footer .footer-wrapper {
  display: inline-flex;
  gap: 154px;
  align-items: center;
  justify-content: center;
  width: 794px;
  height: 100%;

  @include mq-down(md) {
    flex-direction: column;
    gap: 42px;
    width: auto;
  }

  .footer-logo {
    width: 120px;
    height: 59px;

    @include mq-down(sm) {
      width: 60px;
      height: 30px;
    }
  }

  .footer-menu-wrapper {
    @include mq-down(md) {
      width: 100%;
    }

    .menu-footer-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      @include mq-down(md) {
        flex-direction: column;
      }

      .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 100%;

        @include mq-down(md) {
          flex-direction: column;
          gap: 16px;
          align-items: center;
          width: 100%;
          max-width: 600px;
        }

        li {
          font-size: $font-sm;
          line-height: 220%;
          color: $color-white;

          @include mq-down(sm) {
            font-size: $font-xs;
            line-height: 160%;
          }
        }
      }
    }
  }
}
