@charset 'UTF-8';

@use '../setting' as s;

// フォーム間の余白
$color-label: #2c3e50;
$color-error: #a11010;
$color-input-bg: #efefef;
$color-input-border: #858585;
$select-icon: url(img/lp/select-icon.svg);

.contact-form {
  width: 100%;
}

.form-item + .form-item {
  margin-top: 1rem;
}

// フォームアイテム
.form-item {
  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      font-size: 1.5rem;

      min-width: 280px;
      padding-left: 25px;

      color: $color-label;
    }
    span {
      position: relative;

      flex: 1;
    }
  }

  &.-arrow > p > span::before {
    position: absolute;
    top: 26px;
    right: 20px;

    width: 15px;
    height: 15px;

    content: '';

    background: $select-icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

@mixin cf7-base-label($text-color) {
  font-size: 1rem;

  padding: 2px 6px;

  color: $text-color;
}

// 必須ラベル
.required {
  @include cf7-base-label($color-error);
}

// 任意ラベル
.optional {
  @include cf7-base-label($color-label);
}

// --------------------------------------------------
// Contact Form 7
// --------------------------------------------------
@mixin cf7-base-layout {
  font-size: 1rem;

  width: 100%;
  padding: 20px;
  // border: 1px solid $color-border;

  border-radius: 5px;
  background-color: $color-input-bg;

  &::placeholder {
    opacity: 0.5;
  }
}

.wpcf7 {
  //----------------------------------------------------
  //	Label
  //----------------------------------------------------
  label {
    font-weight: bold;

    display: block;

    margin-bottom: 6px;
  }

  //----------------------------------------------------
  //	Text Input
  //----------------------------------------------------
  input[type='text'],
  input[type='email'],
  input[type='tel'] {
    @include cf7-base-layout();
  }

  textarea {
    height: 300px;

    resize: none;

    @include cf7-base-layout();
  }

  select {
    cursor: pointer;

    @include cf7-base-layout();
  }

  //----------------------------------------------------
  //	Radio
  //----------------------------------------------------
  .wpcf7-form-control.wpcf7-radio {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .wpcf7-list-item {
      width: calc(50% - 1rem);

      & > label {
        input[type='checkbox'] {
        }
      }
    }
  }

  //----------------------------------------------------
  //	Submit
  //----------------------------------------------------
  .wpcf7-submit {
    width: 4;
    margin: 90px auto 0 auto;
    margin-top: 40px;

    transition: 0.2s;
    text-align: center;

    &:hover {
      background-color: #e6e6e6;
    }
  }

  //----------------------------------------------------
  //	Spinner
  //----------------------------------------------------
  .wpcf7-spinner {
    margin-top: 12px;
  }
}

.wpcf7 {
  // input要素のバリデーションエラー
  .wpcf7-not-valid {
    border: 1px solid #a11010;
    background: #f1dbdb !important;
  }

  // バリデーションエラーテキスト
  span.wpcf7-not-valid-tip {
    font-size: 1rem;
  }

  .wpcf7-response-output {
    padding: 12px;

    color: $color-error;
    border: none !important;
    border-radius: 4px;
    background: #ffe0e5;
  }

  // Success
  form.sent .wpcf7-response-output {
    color: #057254;
    background: #e0ffe9;
  }
  // Error
  form.faild .wpcf7-response-output,
  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output form.spam .wpcf7-response-output {
    color: $color-error;
    background: #ffe0e5;
  }

  .wpcf7-validation-errors {
    color: #b94a48;
    border: 1px solid #eed3d7;
    background-color: #f2dede;
  }

  .wpcf7-mail-sent-ok {
    color: #3a87ad;
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
  }
}