@use '../foundation' as *;

.fv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100svh - $header-height);
  max-height: 65vw;
  color: $color-white;

  // --- Background Image --- //
  // background: url("../images/fv.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  @include mq-down(lg) {
    height: calc(100svh - $header-height-lg);
  }

  @include mq-down(md) {
    height: calc(100svh - $header-height-md);
  }

  @include mq-down(sm) {
    height: calc(100svh - $header-height-sm);
    min-height: auto;
    max-height: 1000px;
  }

  picture,
  img {
    width: 100%;
    height: 100svh;
  }

  img {
    object-fit: cover;

    @include mq-down(sm) {
      object-position: top;
    }

    // filter: brightness(75%);
  }

  .fv-ttl {
    z-index: 1;
    padding: 24px 12px;
    font-size: 3rem;
    line-height: 1;
    border: 2px solid $color-white;

    @include mq-down(sm) {
      padding: 12px;
      font-size: 8vw;
    }
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: #0000004d;
  }
}

// TODO: いつかcomponent化する
.fv-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  .fv-img {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    &.hide {
      display: none;
    }
  }

  // &__btn-wrap {
  //   position: absolute;

  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;

  //   width: 100%;
  //   height: 100%;
  //   padding: 0 60px;

  //   @include mq-down(lg) {
  //     padding: 0 30px;
  //   }
  //   @include mq-down(sm) {
  //     padding: 0 12px;
  //   }

  //   inset: 0;
  // }

  // ドット
  &__dot-wrap {
    position: absolute;
    bottom: 12px;
    z-index: 10;
    width: 100%;
    text-align: center;
  }

  &__dot {
    $size: 24px;
    $size-sp: 15px;

    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    background-color: #606060;
    border-radius: 50%;

    @include mq-down(md) {
      width: min(5vw, 24px);
      height: min(5vw, 24px);
    }

    &.current {
      background-color: white;
    }
  }
}
