@use '../foundation' as *;

@mixin g-nav-link {
  & > a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;

    line-height: 1.8;

    cursor: pointer;
    transition: all 0.3s;

    color: dark($color-fg-primary);

    &:hover {
      color: dark($color-fg-secondary);
    }
  }
}

// ヘッダーメニュー
.header__nav .menu {
  display: flex;
  flex-wrap: wrap;

  user-select: none;

  .menu-item {
    position: relative;

    @include g-nav-link();
  }

  & > * + * {
    margin-left: 16px;
  }
}

// ハンバーガーメニュー
.burger-menu__nav .menu {
  margin: 160px 0;
  padding: 0 16px;

  user-select: none;

  .menu-item {
    font-size: 1.5rem;

    position: relative;

    margin-bottom: 18px;

    text-align: center;

    @include g-nav-link();
  }
}

// ロゴ
.burger-menu-logo {
  padding: 0 16px;

  text-align: right;
}