@use '../foundation' as *;

header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 99;
  width: 100vw;
  height: $header-height;
  background-color: #ffffff80;

  @include mq-down(lg) {
    height: $header-height-lg;
  }

  @include mq-down(md) {
    height: $header-height-md;
  }

  @include mq-down(sm) {
    height: $header-height-sm;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 165px;

  @include mq-down(md) {
    padding: 0 60px;
  }

  @include mq-down(sm) {
    padding: 0 30px;
  }

  // タイトル
  &__title {
    font-size: 1.5rem;
    color: $color-white;
  }

  // ロゴ
  .custom-logo-link {
    @include mq-down(sm) {
      display: none;
    }

    img {
      width: 160px;
      object-fit: contain;
    }
  }

  & > * + * {
    margin-left: 16px;
  }
}
