@use '../foundation' as *;

@mixin g-nav-link {
  & > a {
    font-family: $font-mincho;
    line-height: 1.8;
    color: $color-main;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $color-primary;
    }
  }
}

// ----------------------------------------------------
//	ヘッダーメニュー
// ----------------------------------------------------
.header-nav {
  @include mq-down(sm) {
    display: none;
  }

  .menu {
    display: flex;
    user-select: none;

    .menu-item {
      position: relative;
      font-size: $font-sm;

      @include g-nav-link;
    }

    & > .menu-item + .menu-item {
      margin-left: 40px;
    }
  }
}

// ----------------------------------------------------
//	ハンバーガーメニュー
// ----------------------------------------------------
.burger-nav {
  position: relative;
  height: 100%;
  overflow: scroll;
  user-select: none;

  .menu-burger-menu-container {
    padding: 0 60px;

    @include mq-down(sm) {
      padding: 0 50px;
    }
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 160px 0;

    @include mq-down(md) {
      padding: 80px 0;
    }

    .menu-item {
      position: relative;
      font-size: $font-xl;

      @include mq-down(lg) {
        font-size: $font-lg;
      }

      @include mq-down(md) {
        font-size: $font-lg;
      }

      @include g-nav-link;
    }

    // & > .menu-item + .menu-item {
    //   margin-top: 60px;
    // }

    .menu-item-contact > a {
      color: $color-primary;
    }
  }
}

.burger.open .burger-nav {
  user-select: auto;
}
