@use '../foundation' as *;

@mixin g-nav-link {
  & > a {
    font-family: $font-main;

    cursor: pointer;
    transition: all 0.3s;

    color: $color-main;

    &:hover {
      color: light($color-primary);
    }
  }
}

/*----------------------------------------------------
  ヘッダーメニュー
-----------------------------------------------------*/
.header__nav .menu {
  display: flex;
  flex-wrap: wrap;

  user-select: none;

  .menu-item,
  .page_item {
    font-size: 1rem;

    position: relative;

    line-height: 1.8;

    @include g-nav-link();
  }

  & > * + * {
    margin-left: 16px;
  }
}

/*----------------------------------------------------
  ハンバーガーメニュー
-----------------------------------------------------*/
.burger-menu__nav .menu {
  margin: 160px 0;
  padding: 0 16px;

  user-select: none;

  .menu-item,
  .page_item {
    font-size: 1.5rem;

    position: relative;

    line-height: 1.8;
    margin-bottom: 18px;

    @include g-nav-link();
  }
}