@use '../foundation' as *;

@mixin g-nav-link {
  & > a {
    font-family: $font-display;
    line-height: 1.8;

    cursor: pointer;
    transition: all 0.3s;

    color: $color-main;

    &:hover {
      color: $color-primary;
    }
  }
}

/*----------------------------------------------------
  ヘッダーメニュー
-----------------------------------------------------*/
.header-nav {
  @include mq-down(sm) {
    display: none;
  }

  .menu {
    display: flex;

    user-select: none;

    .menu-item {
      font-size: 2rem;
      font-style: italic;

      position: relative;

      @include g-nav-link();
    }

    & > .menu-item + .menu-item {
      margin-left: 60px;
    }
  }
}

/*----------------------------------------------------
  ハンバーガーメニュー
-----------------------------------------------------*/
.burger-nav {
  overflow: scroll;

  height: 100%;

  user-select: none;

  .menu-burger-menu-container {
    padding: 0 60px;

    @include mq-down(sm) {
      padding: 0 50px;
    }
  }

  .menu {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    height: 100%;
    padding: 160px 0;

    @include mq-down(md) {
      padding: 80px 0;
    }

    .menu-item {
      font-size: $font-xl;

      position: relative;

      @include mq-down(lg) {
        font-size: $font-lg;
      }
      @include mq-down(md) {
        font-size: $font-lg;
      }
      @include g-nav-link();
    }

    // & > .menu-item + .menu-item {
    //   margin-top: 60px;
    // }

    .menu-item-contact > a {
      color: $color-primary;
    }
  }
}

.burger.open .burger-nav {
  user-select: auto;
}
