@use '../../foundation' as *;

.gallery-list {
  $breakpoint: lg;

  display: flex;
  flex-wrap: wrap;
  gap: 40px 12px;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 60px;
  margin: 0 120px;

  @include mq-down(md) {
    gap: 40px 24px;
    margin: 0;
  }
}

.gallery-item {
  $breakpoint: lg;

  width: calc(100% / 5 - 12px);

  @include mq-down($breakpoint) {
    width: calc(100% / 2 - 12px);
  }

  &__img {
    width: 100%;
    min-height: 8vw;
    max-height: 8vw;

    @include mq-down($breakpoint) {
      min-height: 16vw;
      max-height: 16vw;
    }

    @include mq-down(md) {
      min-height: 24vw;
      max-height: 24vw;
    }

    object-fit: cover;
  }

  &__caption {
    font-size: 0.75rem;
    text-align: center;
    white-space: nowrap;
  }
}
