@use '../../foundation' as *;

.news-list {
  padding: 120px 60px;

  @include mq-down(xl) {
    padding: 60px 30px;
  }

  @include mq-down(md) {
    padding: 40px 12px;
  }

  & > * + * {
    margin-top: 80px;
  }
}

.news {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include mq-down(md) {
    display: block;
  }

  // 日付
  &__date {
    width: 10%;
    min-width: 150px;
    font-size: 0.75rem;
    color: $color-secondary;

    @include mq-down(lg) {
      min-width: 80px;
    }

    @include mq-down(md) {
      min-width: 110px;
    }
  }

  // バッジ
  &__badge {
    width: 15%;
    min-width: 15%; // 200px
    padding: 0 8px;
    margin: 0 4px;
    margin-left: 12px;
    font-size: 0.75rem;
    color: $color-white;
    text-align: center;
    background-color: dark($color-fg-primary);

    @include mq-down(md) {
      display: inline-block;
      width: auto;
      min-width: auto;
    }
  }

  // 記事タイトル
  &__title {
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.4;

    @include mq-down(md) {
      display: block;
      margin: 12px 0 0;
      font-size: 1rem;
    }
  }
}
