// Sample Code
// ---------------------------------------------
// <div class="txt-content -reverse">
//   <img class="txt-content__img" src="...">
//   <p class="txt-content__txt">テキストテキストテキスト</p>
// </div>
// ---------------------------------------------

@use '../../foundation' as *;

$mq: md;
$gap: 40px;
$gap-tb: 40px;
$gap-sp: 50px;

.txt-content {
  display: flex;
  flex-direction: row-reverse;
  gap: $gap;
  align-items: flex-start;
  justify-content: center;

  @include mq-down($mq) {
    flex-direction: column;
    gap: $gap-sp;
    align-items: center;
  }

  &.-reverse {
    flex-direction: row;

    @include mq-down($mq) {
      flex-direction: column;
    }
  }

  &__img {
    object-fit: cover;
  }

  &__txt {
    flex: 1;
  }
}
