@use '../../foundation' as *;

.btn {
  $root: #{&};

  position: relative;
  min-width: 140px;
  padding: 4px 16px;
  color: $color-white;
  text-align: center;
  background-color: dark($color-fg-primary);
  border-radius: 2rem;
  transition: 0.3s;

  @include mq-down(sm) {
    min-width: auto;
    padding: 0 8px;
    font-size: 1rem;
  }

  &:hover {
    background-color: light($color-fg-primary);
  }
}
