@use '../../foundation' as *;

.frame {
  position: relative;

  border: 6px double #d4c6c8;
  // #c8bb9d
  background-color: $color-bg-main;

  &__text {
    max-width: 1200px;
    margin: 0 auto;

    @include mq-down(sm) {
      font-size: 0.8rem;
    }
  }
}