@use '../../foundation' as *;

.pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0;

  @include mq-down(sm) {
    padding-bottom: 100px;
  }

  .page-numbers {
    $root: #{&};
    $size: 45px;
    $size-sp: 32px;
    $breakpoint: md;

    position: relative;
    width: $size;
    height: $size;
    margin: 0 12px;
    font-size: 1.5rem;
    line-height: $size;
    color: $color-white;
    text-align: center;
    background-color: #d1d1d1;
    border-radius: 50%;
    transition: 0.3s;

    @include mq-down($breakpoint) {
      width: $size-sp;
      height: $size-sp;
      margin: 0 4px;
      line-height: $size-sp;
    }

    &:hover {
      background-color: #8f8f8f;
    }

    &.current,
    &.prev,
    &.next {
      background-color: dark($color-fg-primary);
    }

    &.prev:hover,
    &.next:hover {
      background-color: $color-fg-primary;
    }

    &.prev {
      margin-left: 0;

      @include mq-down(sm) {
        position: absolute;
        bottom: 40px;
        left: 25%;
      }
    }

    &.next {
      margin-right: 0;

      @include mq-down(sm) {
        position: absolute;
        right: 25%;
        bottom: 40px;
      }
    }

    &.dots {
      color: #8f8f8f;
      background-color: transparent;
    }

    &.prev,
    &.next {
      &::after {
        position: absolute;
        top: 0;
        right: 25px;
        bottom: 0;
        width: calc($size / 2.5);
        height: calc($size / 2.5);
        margin: auto;
        content: '';
        border-top: 4px solid white;
        border-right: 4px solid white;

        @include mq-down($breakpoint) {
          right: 18px;
          width: calc($size-sp / 2.5);
          height: calc($size-sp / 2.5);
        }
      }
    }

    &.prev::after {
      right: 10px;
      transform: rotate(225deg);

      @include mq-down($breakpoint) {
        right: 8px;
      }
    }

    &.next::after {
      right: 16px;
      transform: rotate(45deg);

      @include mq-down($breakpoint) {
        right: 12px;
      }
    }
  }
}
