@use '../../foundation' as *;

table.table {
  @include font-sizing;

  width: 100%;
  margin: 0 auto;

  tr {
    @include mq-down(md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 40px;
    }
  }

  th,
  td {
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid transparentize($color-fg-secondary, 0.5);

    @include mq-down(md) {
      width: 100%;
    }
  }

  th {
    width: 200px;
    padding-left: 50px;

    @include mq-down(md) {
      padding-bottom: 0;
      padding-left: 40px;
      border: none;
    }
  }

  th::after,
  th::before {
    position: absolute;
    content: '';
    transform: rotate(45deg);
  }

  th::before {
    top: 0.7em;
    left: 0.2em;
    width: 12px;
    height: 12px;
    border: 2px solid transparentize($color-fg-secondary, 0.5);
  }

  th::after {
    top: 0.9em;
    left: 0.7em;
    width: 14px;
    height: 14px;
    background: transparentize($color-fg-secondary, 0.3);
    transform: rotate(60deg);
  }
}
