@use '../../foundation' as *;

br {
  &.u-xl {
    display: none;
    @include mq-down(xl) {
      display: block;
    }
  }
  &.u-lg {
    display: none;
    @include mq-down(lg) {
      display: block;
    }
  }
  &.u-md {
    display: none;
    @include mq-down(md) {
      display: block;
    }
  }
  &.u-sm {
    display: none;
    @include mq-down(sm) {
      display: block;
    }
  }
  &.u-xs {
    display: none;
    @include mq-down(xs) {
      display: block;
    }
  }
}