.js-fadein {
  opacity: 0;

  &.js-animated {
    animation-name: fade-in-botton;
  }

  &.-bottom.js-animated {
    animation-name: fade-in-botton;
  }

  &.-right.js-animated {
    animation-name: fade-in-right;
  }

  &.-left.js-animated {
    animation-name: fade-in-left;
  }

  &.-top.js-animated {
    animation-name: fadeInTop;
  }

  /* stylelint-disable-next-line */
  &.js-animated {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    animation-fill-mode: both;
  }
}

@keyframes fade-in-botton {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate(0, -100px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate(100px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate(-100px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
