* {
  & > .char {
    display: inline-block;
    opacity: 0;
  }

  &.js-animated {
    & > .char {
      animation-name: fade-in-char;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
      animation-fill-mode: both;

      @for $i from 0 through 30 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{$i * 0.05 + 0}s;
        }
      }
    }
  }
}

@keyframes fade-in-char {
  from {
    opacity: 0;
    transform: translateX(100px) scale(2);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
