.js-fadein {
  opacity: 0;

  &.js-animated {
    animation-name: fadeInBottom;
  }
  &.-bottom.js-animated {
    animation-name: fadeInBottom;
  }
  &.-right.js-animated {
    animation-name: fadeInRight;
  }
  &.-left.js-animated {
    animation-name: fadeInLeft;
  }
  &.-top.js-animated {
    animation-name: fadeInTop;
  }

  &.js-animated {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

    animation-fill-mode: both;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translate(0, 100px);

    opacity: 0;
  }
  to {
    transform: translate(0, 0);

    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate(0, -100px);

    opacity: 0;
  }
  to {
    transform: translate(0, 0);

    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translate(100px, 0);

    opacity: 0;
  }
  to {
    transform: translate(0, 0);

    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translate(-100px, 0);

    opacity: 0;
  }
  to {
    transform: translate(0, 0);

    opacity: 1;
  }
}
