// --------------------------------------------------------------
// 汎用クラス
// --------------------------------------------------------------
// d-{p}-none       - display: none
// d-{p}-inline     - display: inline 
// d-{p}-block      - display: block
// 
// flx-{p}-row      - flex-direction: row
// flx-{p}-row-r    - flex-direction: row-reverse
// flx-{p}-col      - flex-direction: column
// flx-{p}-col-r    - flex-direction: column-reverse
// 
// w-{p}-{n}        - width: {n}% (10 ~ 100)
// px-{p}-{n}       - padding-left, padding-right (0 ~ 12)
// 
// text-{p}-center  - text-center

$spacing: 8px;
$prefix-list: 'xl', 'lg', 'md', 'sm', 'xs';

// ----------------------------------------------------------
//  レイアウト
// ----------------------------------------------------------
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-block { display: block !important; }

@each $prefix in $prefix-list {
  @include mq-down($prefix) {
    .#{$prefix}-relative { position: relative !important; }
    .#{$prefix}-absolute { position: absolute !important; }
    .d-#{$prefix}-none { display: none !important; }
    .d-#{$prefix}-inline { display: inline !important; }
    .d-#{$prefix}-block { display: block !important; }
  }
}

.flx-row { flex-direction: row !important; }
.flx-row-r { flex-direction: row-reverse !important; }
.flx-col { flex-direction: column !important; }
.flx-col-r { flex-direction: column-reverse !important; }

@each $prefix in $prefix-list {
  @include mq-down($prefix) {
    .flx-#{$prefix}-row { flex-direction: row !important; }
    .flx-#{$prefix}-row-r { flex-direction: row-reverse !important; }
    .flx-#{$prefix}-col { flex-direction: column !important; }
    .flx-#{$prefix}-col-r { flex-direction: column-reverse !important; }
  }
}


// ----------------------------------------------------------
//  横幅
// ----------------------------------------------------------
@for $i from 1 through 10 {
  .w-#{$i}0  { width: 10% * $i !important; }
}

@each $prefix in $prefix-list {
  @for $i from 1 through 10 {
    @include mq-down($prefix) {
      .w-#{$prefix}-#{$i}0  { width: 10% * $i !important; }
    }
  }
}

// ----------------------------------------------------------
//  余白
// ----------------------------------------------------------
.pt-auto { padding-top:     auto !important; }
.pr-auto { padding-right:   auto !important; }
.pb-auto { padding-bottom:  auto !important; }
.pl-auto { padding-left:    auto !important; }
.px-auto { padding-right:   auto !important; padding-left:   auto !important; }
.py-auto { padding-top:     auto !important; padding-bottom: auto !important; }

.mt-auto { margin-top:     auto !important; }
.mr-auto { margin-right:   auto !important; }
.mb-auto { margin-bottom:  auto !important; }
.ml-auto { margin-left:    auto !important; }
.mx-auto { margin-right:   auto !important; margin-left:   auto !important; }
.my-auto { margin-top:     auto !important; margin-bottom: auto !important; }

@for $i from 0 through 24 {
  .pt-#{$i} { padding-top:     $spacing * $i !important; }
  .pr-#{$i} { padding-right:   $spacing * $i !important; }
  .pb-#{$i} { padding-bottom:  $spacing * $i !important; }
  .pl-#{$i} { padding-left:    $spacing * $i !important; }
  .px-#{$i} { padding-right:   $spacing * $i !important; padding-left:   $spacing * $i !important; }
  .py-#{$i} { padding-top:     $spacing * $i !important; padding-bottom: $spacing * $i !important; }

  .mt-#{$i} { margin-top:     $spacing * $i !important; }
  .mr-#{$i} { margin-right:   $spacing * $i !important; }
  .mb-#{$i} { margin-bottom:  $spacing * $i !important; }
  .ml-#{$i} { margin-left:    $spacing * $i !important; }
  .mx-#{$i} { margin-right:   $spacing * $i !important; margin-left:   $spacing * $i !important; }
  .my-#{$i} { margin-top:     $spacing * $i !important; margin-bottom: $spacing * $i !important; }
}

@each $prefix in $prefix-list {

  @include mq-down($prefix) {
    .pt-#{$prefix}-auto { padding-top:     auto !important; }
    .pr-#{$prefix}-auto { padding-right:   auto !important; }
    .pb-#{$prefix}-auto { padding-bottom:  auto !important; }
    .pl-#{$prefix}-auto { padding-left:    auto !important; }
    .px-#{$prefix}-auto { padding-right:   auto !important; padding-left:   auto !important; }
    .py-#{$prefix}-auto { padding-top:     auto !important; padding-bottom: auto !important; }

    .mt-#{$prefix}-auto { margin-top:     auto !important; }
    .mr-#{$prefix}-auto { margin-right:   auto !important; }
    .mb-#{$prefix}-auto { margin-bottom:  auto !important; }
    .ml-#{$prefix}-auto { margin-left:    auto !important; }
    .mx-#{$prefix}-auto { margin-right:   auto !important; margin-left:   auto !important; }
    .my-#{$prefix}-auto { margin-top:     auto !important; margin-bottom: auto !important; }
  }

  @for $i from 0 through 24 {
    @include mq-down($prefix) {
      .pt-#{$prefix}-#{$i} { padding-top:     $spacing * $i !important; }
      .pr-#{$prefix}-#{$i} { padding-right:   $spacing * $i !important; }
      .pb-#{$prefix}-#{$i} { padding-bottom:  $spacing * $i !important; }
      .pl-#{$prefix}-#{$i} { padding-left:    $spacing * $i !important; }
      .px-#{$prefix}-#{$i} { padding-right:   $spacing * $i !important; padding-left:   $spacing * $i !important; }
      .py-#{$prefix}-#{$i} { padding-top:     $spacing * $i !important; padding-bottom: $spacing * $i !important; }
    
      .mt-#{$prefix}-#{$i} { margin-top:     $spacing * $i !important; }
      .mr-#{$prefix}-#{$i} { margin-right:   $spacing * $i !important; }
      .mb-#{$prefix}-#{$i} { margin-bottom:  $spacing * $i !important; }
      .ml-#{$prefix}-#{$i} { margin-left:    $spacing * $i !important; }
      .mx-#{$prefix}-#{$i} { margin-right:   $spacing * $i !important; margin-left:   $spacing * $i !important; }
      .my-#{$prefix}-#{$i} { margin-top:     $spacing * $i !important; margin-bottom: $spacing * $i !important; }
    }
  }
  
}

// ----------------------------------------------------------
//  テキスト
// ----------------------------------------------------------
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

@each $prefix in $prefix-list {
  @include mq-down($prefix) {
    .text-#{$prefix}-left { text-align: left !important; }
    .text-#{$prefix}-right { text-align: right !important; }
    .text-#{$prefix}-center { text-align: center !important; }
  }
}

.text-bold   { font-weight: bold !important; }

.text-xs    { font-size: 0.75rem !important; }
.text-sm    { font-size: 0.875rem !important; }
.text-base  { font-size: 1rem !important; }
.text-lg    { font-size: 1.125rem !important; }
.text-xl    { font-size: 1.25rem !important; }
.text-2xl   { font-size: 1.5rem !important; }
.text-3xl   { font-size: 1.875rem !important; }
.text-4xl   { font-size: 2.25rem !important; }
.text-5xl   { font-size: 3rem !important; }
.text-6xl   { font-size: 3.75rem !important; }

@each $prefix in $prefix-list {
  @include mq-down($prefix) {
    .text-#{$prefix}-xs   { font-size: 0.75rem !important; }
    .text-#{$prefix}-sm   { font-size: 0.875rem !important; }
    .text-#{$prefix}-base { font-size: 1rem !important; }
    .text-#{$prefix}-lg   { font-size: 1.125rem !important; }
    .text-#{$prefix}-xl   { font-size: 1.25rem !important; }
    .text-#{$prefix}-2xl  { font-size: 1.5rem !important; }
    .text-#{$prefix}-3xl  { font-size: 1.875rem !important; }
    .text-#{$prefix}-4xl  { font-size: 2.25rem !important; }
    .text-#{$prefix}-5xl  { font-size: 3rem !important; }
    .text-#{$prefix}-6xl  { font-size: 3.75rem !important; }
  }
}