// ==========================================================================
// Utility Classes
// 
//  [p] - media query prefix (xs, sm, md, lg, xl, xxl)
// ==========================================================================
// 
// 
// ----------------------------
//  Layout
// ----------------------------
// relative         - position: relative
// absolute         - position: absolute
// 
// d-[p]-none       - display: none
// d-[p]-inline     - display: inline 
// d-[p]-block      - display: block
// d-[p]-flex       - display: flex
// 
// ----------------------------
//  Flex Box
// ----------------------------
// justify-[p]-start    - justify-content: flex-start
// justify-[p]-end      - justify-content: flex-end
// justify-[p]-center   - justify-content: center
// justify-[p]-between  - justify-content: space-between
// justify-[p]-around   - justify-content: space-around
// justify-[p]-evenly   - justify-content: space-evenly
// 
// align-[p]-center     - align-items: center
// align-[p]-stretch    - align-items: stretch
// 
// grow-[p]-1           - flex-grow: 1
// 
// flx-[p]-row      - flex-direction: row
// flx-[p]-row-r    - flex-direction: row-reverse
// flx-[p]-col      - flex-direction: column
// flx-[p]-col-r    - flex-direction: column-reverse
// 
// ----------------------------
//  inset layout
// ----------------------------
// top-[p]-[n]      - top: [n]rem ([n] = 0.25, 0.5, 0.75...)
// 
// ----------------------------
//  Spacing
// ----------------------------
// w-[p]-[n]        - width:  [n]% ([n] = 5, 10, 15 ... 100)
// h-[p]-[n]        - height: [n]% ([n] = 5, 10, 15 ... 100)
// px-[p]-[n]       - padding-left, padding-right ([n] = 0 ~ 24)
// mx-[p]-[n]       - margin-left, margin-right ([n] = 0 ~ 24)
// 
// ----------------------------
//  Text
// ----------------------------
// text-[p]-center  - text-center
// text-[p]-left    - text-left
// text-[p]-right   - text-right
// 
// text-bold        - font-weight: bold 
// text-red         - color: red
// 
// text-[p]-[s]     - font-size ([s] = xs, sm, base, lg, xl, 2xl, 3xl ... 6xl)

@import "foundation/media-query";
@import "foundation/variable";

// $rem-list: 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;
$spacing: 8px;
$prefix-list: 'xxl', 'xl', 'lg', 'md', 'sm', 'xs';

// ----------------------------------------------------------
//  Layout, Flex Box
// ----------------------------------------------------------
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.d-none { display: none !important; }
.d-inline { display: inline !important; }
.d-block { display: block !important; }
.d-flex { display: flex !important; }

.justify-start { justify-content: flex-start !important; }
.justify-end { justify-content: flex-end !important; }
.justify-center { justify-content: center !important; }
.justify-between { justify-content: space-between !important; }
.justify-around { justify-content: space-around !important; }
.justify-evenly { justify-content: space-evenly !important; }

.align-center { align-items: center !important; }
.align-stretch { align-items: stretch !important; }

.grow-1 { flex-grow: 1 !important; }

@each $p in $prefix-list {
  @include mq-down($p) {
    .#{$p}-relative { position: relative !important; }
    .#{$p}-absolute { position: absolute !important; }
    .d-#{$p}-none { display: none !important; }
    .d-#{$p}-inline { display: inline !important; }
    .d-#{$p}-block { display: block !important; }
    .d-#{$p}-flex { display: flex !important; }

    .justify-#{$p}-start { justify-content: flex-start !important; }
    .justify-#{$p}-end { justify-content: flex-end !important; }
    .justify-#{$p}-center { justify-content: center !important; }
    .justify-#{$p}-between { justify-content: space-between !important; }
    .justify-#{$p}-around { justify-content: space-around !important; }
    .justify-#{$p}-evenly { justify-content: space-evenly !important; }

    .align-#{$p}-center { align-items: center !important; }
    .align-#{$p}-stretch { align-items:stretch !important; }

    .grow-#{$p}-1 { flex-grow: 1 !important; }
  }
}

.flx-row { flex-direction: row !important; }
.flx-row-r { flex-direction: row-reverse !important; }
.flx-col { flex-direction: column !important; }
.flx-col-r { flex-direction: column-reverse !important; }

@each $p in $prefix-list {
  @include mq-down($p) {
    .flx-#{$p}-row { flex-direction: row !important; }
    .flx-#{$p}-row-r { flex-direction: row-reverse !important; }
    .flx-#{$p}-col { flex-direction: column !important; }
    .flx-#{$p}-col-r { flex-direction: column-reverse !important; }
  }
}

.object-cover { object-fit: cover !important; }
.object-contain { object-fit: contain !important; }


// ----------------------------------------------------------
//  Spacing1
// ----------------------------------------------------------
.w-auto { width: auto !important; }
@for $i from 1 through 20 {
  .w-#{$i*5}  { width: #{$i * 5%} !important; }
}

@each $p in $prefix-list {
  .w-#{$p}-auto { width: auto !important; }
  @for $i from 1 through 20 {
    @include mq-down($p) {
      .w-#{$p}-#{$i*5}  { width: #{$i * 5%} !important; }
    }
  }
}
.h-auto { height: auto !important; }
@for $i from 1 through 20 {
  .h-#{$i*5}  { height: #{$i * 5%} !important; }
}


// ----------------------------------------------------------
//  inset layout
// ----------------------------------------------------------
@for $i from 0 through 24 {
  .inset-#{$i}    { inset:    #{$i * 0.25rem} !important; }
  .top-#{$i}      { top:      #{$i * 0.25rem} !important; }
  .right-#{$i}    { right:    #{$i * 0.25rem} !important; }
  .bottom-#{$i}   { bottom:   #{$i * 0.25rem} !important; }
  .left-#{$i}     { left:     #{$i * 0.25rem} !important; }
  .inset-x-#{$i}  { left:     #{$i * 0.25rem} !important; right:  #{$i * 0.25rem} !important; }
  .inset-y-#{$i}  { top:      #{$i * 0.25rem} !important; bottom: #{$i * 0.25rem} !important; }
}

@each $p in $prefix-list {

  @for $i from 0 through 24 {
    @include mq-down($p) {
      .inset-#{$p}-#{$i}    { inset:    #{$i * 0.25rem} !important; }
      .top-#{$p}-#{$i}      { top:      #{$i * 0.25rem} !important; }
      .right-#{$p}-#{$i}    { right:    #{$i * 0.25rem} !important; }
      .bottom-#{$p}-#{$i}   { bottom:   #{$i * 0.25rem} !important; }
      .left-#{$p}-#{$i}     { left:     #{$i * 0.25rem} !important; }
      .inset-x-#{$p}-#{$i}  { left:     #{$i * 0.25rem} !important; right:  #{$i * 0.25rem} !important; }
      .inset-y-#{$p}-#{$i}  { top:      #{$i * 0.25rem} !important; bottom: #{$i * 0.25rem} !important; }
    }
  }
  
}

// ----------------------------------------------------------
//  Spacing2
// ----------------------------------------------------------
.pt-auto { padding-top:     auto !important; }
.pr-auto { padding-right:   auto !important; }
.pb-auto { padding-bottom:  auto !important; }
.pl-auto { padding-left:    auto !important; }
.px-auto { padding-right:   auto !important; padding-left:   auto !important; }
.py-auto { padding-top:     auto !important; padding-bottom: auto !important; }

.mt-auto { margin-top:     auto !important; }
.mr-auto { margin-right:   auto !important; }
.mb-auto { margin-bottom:  auto !important; }
.ml-auto { margin-left:    auto !important; }
.mx-auto { margin-right:   auto !important; margin-left:   auto !important; }
.my-auto { margin-top:     auto !important; margin-bottom: auto !important; }

@for $i from 0 through 24 {
  .p-#{$i}  { padding:          $spacing * $i !important; }
  .pt-#{$i} { padding-top:      $spacing * $i !important; }
  .pr-#{$i} { padding-right:    $spacing * $i !important; }
  .pb-#{$i} { padding-bottom:   $spacing * $i !important; }
  .pl-#{$i} { padding-left:     $spacing * $i !important; }
  .px-#{$i} { padding-right:    $spacing * $i !important; padding-left:   $spacing * $i !important; }
  .py-#{$i} { padding-top:      $spacing * $i !important; padding-bottom: $spacing * $i !important; }

  .m-#{$i}  { margin:         $spacing * $i !important; }
  .mt-#{$i} { margin-top:     $spacing * $i !important; }
  .mr-#{$i} { margin-right:   $spacing * $i !important; }
  .mb-#{$i} { margin-bottom:  $spacing * $i !important; }
  .ml-#{$i} { margin-left:    $spacing * $i !important; }
  .mx-#{$i} { margin-right:   $spacing * $i !important; margin-left:   $spacing * $i !important; }
  .my-#{$i} { margin-top:     $spacing * $i !important; margin-bottom: $spacing * $i !important; }
}

@each $p in $prefix-list {

  @include mq-down($p) {
    .pt-#{$p}-auto { padding-top:     auto !important; }
    .pr-#{$p}-auto { padding-right:   auto !important; }
    .pb-#{$p}-auto { padding-bottom:  auto !important; }
    .pl-#{$p}-auto { padding-left:    auto !important; }
    .px-#{$p}-auto { padding-right:   auto !important; padding-left:   auto !important; }
    .py-#{$p}-auto { padding-top:     auto !important; padding-bottom: auto !important; }

    .mt-#{$p}-auto { margin-top:     auto !important; }
    .mr-#{$p}-auto { margin-right:   auto !important; }
    .mb-#{$p}-auto { margin-bottom:  auto !important; }
    .ml-#{$p}-auto { margin-left:    auto !important; }
    .mx-#{$p}-auto { margin-right:   auto !important; margin-left:   auto !important; }
    .my-#{$p}-auto { margin-top:     auto !important; margin-bottom: auto !important; }
  }

  @for $i from 0 through 24 {
    @include mq-down($p) {
      .pt#{$p}-#{$i}  { padding:          $spacing * $i !important; }
      .pt-#{$p}-#{$i} { padding-top:      $spacing * $i !important; }
      .pr-#{$p}-#{$i} { padding-right:    $spacing * $i !important; }
      .pb-#{$p}-#{$i} { padding-bottom:   $spacing * $i !important; }
      .pl-#{$p}-#{$i} { padding-left:     $spacing * $i !important; }
      .px-#{$p}-#{$i} { padding-right:    $spacing * $i !important; padding-left:   $spacing * $i !important; }
      .py-#{$p}-#{$i} { padding-top:      $spacing * $i !important; padding-bottom: $spacing * $i !important; }
    
      .m-#{$p}-#{$i}  { margin:         $spacing * $i !important; }
      .mt-#{$p}-#{$i} { margin-top:     $spacing * $i !important; }
      .mr-#{$p}-#{$i} { margin-right:   $spacing * $i !important; }
      .mb-#{$p}-#{$i} { margin-bottom:  $spacing * $i !important; }
      .ml-#{$p}-#{$i} { margin-left:    $spacing * $i !important; }
      .mx-#{$p}-#{$i} { margin-right:   $spacing * $i !important; margin-left:   $spacing * $i !important; }
      .my-#{$p}-#{$i} { margin-top:     $spacing * $i !important; margin-bottom: $spacing * $i !important; }
    }
  }
  
}

// ----------------------------------------------------------
//  Text
// ----------------------------------------------------------
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.text-bold { font-weight: bold !important; }
.text-red { color: red !important; }

@each $p in $prefix-list {
  @include mq-down($p) {
    .text-#{$p}-left { text-align: left !important; }
    .text-#{$p}-right { text-align: right !important; }
    .text-#{$p}-center { text-align: center !important; }
  }
}

.text-xs    { font-size: 0.75rem !important; }
.text-sm    { font-size: 0.875rem !important; }
.text-base  { font-size: 1rem !important; }
.text-lg    { font-size: 1.125rem !important; }
.text-xl    { font-size: 1.25rem !important; }
.text-2xl   { font-size: 1.5rem !important; }
.text-3xl   { font-size: 1.875rem !important; }
.text-4xl   { font-size: 2.25rem !important; }
.text-5xl   { font-size: 3rem !important; }
.text-6xl   { font-size: 3.75rem !important; }

@each $p in $prefix-list {
  @include mq-down($p) {
    .text-#{$p}-xs   { font-size: 0.75rem !important; }
    .text-#{$p}-sm   { font-size: 0.875rem !important; }
    .text-#{$p}-base { font-size: 1rem !important; }
    .text-#{$p}-lg   { font-size: 1.125rem !important; }
    .text-#{$p}-xl   { font-size: 1.25rem !important; }
    .text-#{$p}-2xl  { font-size: 1.5rem !important; }
    .text-#{$p}-3xl  { font-size: 1.875rem !important; }
    .text-#{$p}-4xl  { font-size: 2.25rem !important; }
    .text-#{$p}-5xl  { font-size: 3rem !important; }
    .text-#{$p}-6xl  { font-size: 3.75rem !important; }
  }
}