@charset "UTF-8";
html {
  font-family: "Noto Sans JP", "Quicksand", "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
body.disabled-scroll {
  height: 100%;
  overflow: hidden;
}

main {
  min-height: 100vh;
  padding-top: 80px;
  overflow: hidden;
}
@media screen and (max-width: 999px) {
  main {
    padding-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  main {
    padding-top: 80px;
  }
}
@media screen and (max-width: 559px) {
  main {
    padding-top: 60px;
  }
}

.container {
  max-width: 1128px;
  padding: 0 64px;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .container {
    padding: 0 48px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 559px) {
  .container {
    padding: 0 20px;
  }
}

section {
  position: relative;
  padding-bottom: 8rem;
}
@media screen and (max-width: 559px) {
  section {
    padding-bottom: 4rem;
  }
}

.txt {
  margin-top: 50px;
  font-family: "Noto Sans JP", "Quicksand", "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  font-size: 36px;
  line-height: 1.7;
}
@media screen and (max-width: 1199px) {
  .txt {
    font-size: 24px;
  }
}
@media screen and (max-width: 559px) {
  .txt {
    margin-top: 20px;
    font-size: 16px;
  }
}

a {
  cursor: #0f5387;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 99;
  width: 100vw;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
@media screen and (max-width: 999px) {
  header {
    height: 80px;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 80px;
  }
}
@media screen and (max-width: 559px) {
  header {
    height: 60px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 165px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 60px;
  }
}
@media screen and (max-width: 559px) {
  .header {
    padding: 0 30px;
  }
}
.header__title {
  font-size: 1.5rem;
  color: #e4e4e4;
}
@media screen and (max-width: 559px) {
  .header .custom-logo-link {
    display: none;
  }
}
.header .custom-logo-link img {
  width: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header > * + * {
  margin-left: 16px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 259px;
  background-color: #0f5387;
}
@media screen and (max-width: 999px) {
  footer {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: auto;
    padding: 49px 0 62px;
  }
}

footer .footer-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 154px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 794px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 42px;
    width: auto;
  }
}
footer .footer-wrapper .footer-logo {
  width: 120px;
  height: 59px;
}
@media screen and (max-width: 559px) {
  footer .footer-wrapper .footer-logo {
    width: 60px;
    height: 30px;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-wrapper .footer-menu-wrapper {
    width: 100%;
  }
}
footer .footer-wrapper .footer-menu-wrapper .menu-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
@media screen and (max-width: 767px) {
  footer .footer-wrapper .footer-menu-wrapper .menu-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .footer-wrapper .footer-menu-wrapper .menu-footer-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}
@media screen and (max-width: 767px) {
  footer .footer-wrapper .footer-menu-wrapper .menu-footer-container .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 600px;
  }
}
footer .footer-wrapper .footer-menu-wrapper .menu-footer-container .menu li {
  font-size: 20px;
  line-height: 220%;
  color: #e4e4e4;
}
@media screen and (max-width: 559px) {
  footer .footer-wrapper .footer-menu-wrapper .menu-footer-container .menu li {
    font-size: 16px;
    line-height: 160%;
  }
}

@media screen and (max-width: 559px) {
  .header-nav {
    display: none;
  }
}
.header-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header-nav .menu .menu-item {
  position: relative;
  font-size: 20px;
}
.header-nav .menu .menu-item > a {
  font-family: "游明朝体", "Yu Mincho", yumincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "Noto Serif JP", "MS P明朝", "MS PMincho", serif;
  line-height: 1.8;
  color: #3a3a3a;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-nav .menu .menu-item > a:hover {
  color: #0f5387;
}
.header-nav .menu > .menu-item + .menu-item {
  margin-left: 40px;
}

.burger-nav {
  position: relative;
  height: 100%;
  overflow: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.burger-nav .menu-burger-menu-container {
  padding: 0 60px;
}
@media screen and (max-width: 559px) {
  .burger-nav .menu-burger-menu-container {
    padding: 0 50px;
  }
}
.burger-nav .menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 160px 0;
}
@media screen and (max-width: 767px) {
  .burger-nav .menu {
    padding: 80px 0;
  }
}
.burger-nav .menu .menu-item {
  position: relative;
  font-size: 48px;
}
@media screen and (max-width: 999px) {
  .burger-nav .menu .menu-item {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .burger-nav .menu .menu-item {
    font-size: 32px;
  }
}
.burger-nav .menu .menu-item > a {
  font-family: "游明朝体", "Yu Mincho", yumincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "Noto Serif JP", "MS P明朝", "MS PMincho", serif;
  line-height: 1.8;
  color: #3a3a3a;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-nav .menu .menu-item > a:hover {
  color: #0f5387;
}
.burger-nav .menu .menu-item-contact > a {
  color: #0f5387;
}

.burger.open .burger-nav {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.fv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100svh - 80px);
  max-height: 65vw;
  color: #e4e4e4;
}
@media screen and (max-width: 999px) {
  .fv {
    height: calc(100svh - 80px);
  }
}
@media screen and (max-width: 767px) {
  .fv {
    height: calc(100svh - 80px);
  }
}
@media screen and (max-width: 559px) {
  .fv {
    height: calc(100svh - 60px);
    min-height: auto;
    max-height: 1000px;
  }
}
.fv picture,
.fv img {
  width: 100%;
  height: 100svh;
}
.fv img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 559px) {
  .fv img {
    -o-object-position: top;
       object-position: top;
  }
}
.fv .fv-ttl {
  z-index: 1;
  padding: 24px 12px;
  font-size: 3rem;
  line-height: 1;
  border: 2px solid #e4e4e4;
}
@media screen and (max-width: 559px) {
  .fv .fv-ttl {
    padding: 12px;
    font-size: 8vw;
  }
}
.fv::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.3019607843);
}

.fv-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.fv-slider .fv-img {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.fv-slider .fv-img.hide {
  display: none;
}
.fv-slider__dot-wrap {
  position: absolute;
  bottom: 12px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.fv-slider__dot {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 12px;
  background-color: #606060;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .fv-slider__dot {
    width: min(5vw, 24px);
    height: min(5vw, 24px);
  }
}
.fv-slider__dot.current {
  background-color: white;
}

.contact-form {
  width: 100%;
}

.form-item + .form-item {
  margin-top: 1rem;
}

.form-item p label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 220%; /* 35.2px */
  color: #2c3e50;
}
@media screen and (max-width: 559px) {
  .form-item p label {
    font-size: 16px;
    line-height: 160%; /* 24px */
  }
}
.form-item p span {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-item.-short {
  width: 200px;
}
.form-item.-arrow > p > span::before {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 15px;
  height: 15px;
  content: "";
  background: url(img/lp/select-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.required {
  padding: 2px 6px;
  font-size: 1rem;
  color: #a11010;
}

.optional {
  padding: 2px 6px;
  font-size: 1rem;
  color: #2c3e50;
}

.wpcf7 label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 220%; /* 35.2px */
}
@media screen and (max-width: 559px) {
  .wpcf7 label {
    font-size: 16px;
    line-height: 160%; /* 24px */
  }
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 input[type=tel] {
  border-bottom: 1px solid #9d9d9d;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 220%; /* 35.2px */
  color: #222;
}
@media screen and (max-width: 559px) {
  .wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 input[type=tel] {
    font-size: 16px;
    line-height: 160%; /* 24px */
  }
}
.wpcf7 input[type=text]::-webkit-input-placeholder, .wpcf7 input[type=email]::-webkit-input-placeholder, .wpcf7 input[type=tel]::-webkit-input-placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.wpcf7 input[type=text]::-moz-placeholder, .wpcf7 input[type=email]::-moz-placeholder, .wpcf7 input[type=tel]::-moz-placeholder {
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.wpcf7 input[type=text]:-ms-input-placeholder, .wpcf7 input[type=email]:-ms-input-placeholder, .wpcf7 input[type=tel]:-ms-input-placeholder {
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.wpcf7 input[type=text]::-ms-input-placeholder, .wpcf7 input[type=email]::-ms-input-placeholder, .wpcf7 input[type=tel]::-ms-input-placeholder {
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.wpcf7 input[type=text]::placeholder,
.wpcf7 input[type=email]::placeholder,
.wpcf7 input[type=tel]::placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.wpcf7 input[type=text]:focus::-webkit-input-placeholder, .wpcf7 input[type=email]:focus::-webkit-input-placeholder, .wpcf7 input[type=tel]:focus::-webkit-input-placeholder {
  color: transparent;
}
.wpcf7 input[type=text]:focus::-moz-placeholder, .wpcf7 input[type=email]:focus::-moz-placeholder, .wpcf7 input[type=tel]:focus::-moz-placeholder {
  color: transparent;
}
.wpcf7 input[type=text]:focus:-ms-input-placeholder, .wpcf7 input[type=email]:focus:-ms-input-placeholder, .wpcf7 input[type=tel]:focus:-ms-input-placeholder {
  color: transparent;
}
.wpcf7 input[type=text]:focus::-ms-input-placeholder, .wpcf7 input[type=email]:focus::-ms-input-placeholder, .wpcf7 input[type=tel]:focus::-ms-input-placeholder {
  color: transparent;
}
.wpcf7 input[type=text]:focus::placeholder,
.wpcf7 input[type=email]:focus::placeholder,
.wpcf7 input[type=tel]:focus::placeholder {
  color: transparent;
}
.wpcf7 textarea {
  height: 244px;
  resize: none;
  background: #f5f5f5;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 220%; /* 35.2px */
  color: #222;
}
@media screen and (max-width: 559px) {
  .wpcf7 textarea {
    font-size: 16px;
    line-height: 160%; /* 24px */
  }
}
.wpcf7 select {
  cursor: pointer;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 220%; /* 35.2px */
  color: #222;
}
@media screen and (max-width: 559px) {
  .wpcf7 select {
    font-size: 16px;
    line-height: 160%; /* 24px */
  }
}
.wpcf7 .wpcf7-form-control.wpcf7-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.wpcf7 .wpcf7-form-control.wpcf7-radio .wpcf7-list-item {
  width: calc(50% - 1rem);
}
.wpcf7 .wpcf7-submit {
  width: 260px;
  height: 60px;
  margin-top: 40px;
  text-align: center;
  border: 1px solid #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.wpcf7 .wpcf7-submit:hover {
  color: #e4e4e4;
  background-color: #222;
  border-color: transparent;
}
.wpcf7 .wpcf7-form > p:last-of-type {
  text-align: center;
}
.wpcf7 .wpcf7-spinner {
  display: none;
  margin-top: 12px;
}
.wpcf7 span.wpcf7-not-valid-tip {
  font-size: 1rem;
}
.wpcf7 .wpcf7-response-output {
  padding: 12px;
  color: #a11010;
  background: #ffe0e5;
  border: none !important;
  border-radius: 4px;
}
.wpcf7 form.sent .wpcf7-response-output {
  color: #057254;
  background: #e0ffe9;
}
.wpcf7 form.faild .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output form.spam .wpcf7-response-output {
  color: #a11010;
  background: #ffe0e5;
}
.wpcf7 .wpcf7-validation-errors {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}
.wpcf7 .wpcf7-mail-sent-ok {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

table.table {
  font-size: 32px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  table.table {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  table.table {
    font-size: 22px;
  }
}
@media screen and (max-width: 559px) {
  table.table {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  table.table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 40px;
  }
}
table.table th,
table.table td {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid rgba(237, 169, 207, 0.5);
}
@media screen and (max-width: 767px) {
  table.table th,
table.table td {
    width: 100%;
  }
}
table.table th {
  width: 200px;
  padding-left: 50px;
}
@media screen and (max-width: 767px) {
  table.table th {
    padding-bottom: 0;
    padding-left: 40px;
    border: none;
  }
}
table.table th::after,
table.table th::before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
table.table th::before {
  top: 0.7em;
  left: 0.2em;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(237, 169, 207, 0.5);
}
table.table th::after {
  top: 0.9em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(237, 169, 207, 0.7);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

ul.list {
  padding: 0;
  font: 1.5rem/1.6 "arial narrow", sans-serif;
  list-style: none;
}

ul.list li {
  position: relative;
  padding: 0.5em 1em 0.5em 2.3em;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #eda9cf;
  border-bottom: 1px solid rgba(237, 169, 207, 0.5);
}

ul.list li::after,
ul.list li::before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

ul.list li::before {
  top: 0.7em;
  left: 0.2em;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(237, 169, 207, 0.5);
}

ul.list li::after {
  top: 0.9em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(237, 169, 207, 0.7);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

#breadcrumbs {
  padding: 20px 0;
  color: #868686;
}
#breadcrumbs .current-item {
  color: #052945;
}
@media screen and (max-width: 767px) {
  #breadcrumbs {
    font-size: 0.75rem;
  }
}

.btn {
  position: relative;
  min-width: 140px;
  padding: 4px 16px;
  color: #e4e4e4;
  text-align: center;
  background-color: #8c63e6;
  border-radius: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 559px) {
  .btn {
    min-width: auto;
    padding: 0 8px;
    font-size: 1rem;
  }
}
.btn:hover {
  background-color: #ede6fc;
}

.burger {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  pointer-events: none;
}
@media screen and (max-width: 559px) {
  .burger {
    width: 15px;
    height: 30px;
    pointer-events: auto;
  }
}
.burger.open {
  pointer-events: auto;
}

.burger-btn {
  position: absolute;
  inset: -30px -20px;
  z-index: 1000;
  cursor: pointer;
}

.burger-nav {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  cursor: default;
  background-color: #f5f5f5;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.burger-nav .js-burger-close {
  position: absolute;
  right: 180px;
  z-index: 1000;
  display: none;
  font-size: 2rem;
  font-style: italic;
  line-height: 80px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-nav .js-burger-close:hover {
  color: #0f5387;
}
.burger-nav .burger-bg {
  position: fixed;
  inset: 0;
  opacity: 0.25;
}

.burger.open .burger-nav {
  z-index: 990;
  display: block;
  pointer-events: auto;
  opacity: 1;
}
@media screen and (min-width: 560px) {
  .burger.open .burger-nav {
    width: 100vw;
  }
}
@media screen and (max-width: 559px) {
  .burger.open .burger-nav {
    inset: 0;
    width: 100vw;
  }
}
.burger.open .burger-nav .js-burger-close {
  display: inline-block;
}
@media screen and (max-width: 559px) {
  .burger.open .burger-nav .js-burger-close {
    display: none;
  }
}

.burger-lines span {
  position: absolute;
  bottom: calc(50% - 1.5px);
  left: 0;
  z-index: 999;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-lines span::before, .burger-lines span::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-lines span::before {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media screen and (max-width: 559px) {
  .burger-lines span::before {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.burger-lines span::after {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
@media screen and (max-width: 559px) {
  .burger-lines span::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

.burger.open .burger-lines span {
  background-color: transparent !important;
}
.burger.open .burger-lines span::before {
  background-color: #222 !important;
  -webkit-transform: rotate(-45deg) scaleX(1.5);
          transform: rotate(-45deg) scaleX(1.5);
}
.burger.open .burger-lines span::after {
  background-color: #222 !important;
  -webkit-transform: rotate(45deg) scaleX(1.5);
          transform: rotate(45deg) scaleX(1.5);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 24px 24px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 559px) {
  .card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.card {
  position: relative;
  width: 25%;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(111, 111, 111, 0.4274509804);
          box-shadow: 0 0 5px rgba(111, 111, 111, 0.4274509804);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1599px) {
  .card {
    width: calc(25% - (24px * 0.75));
  }
}
@media screen and (max-width: 999px) {
  .card {
    width: calc(33.3333333333% - (24px * 0.6666));
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: calc(50% - (24px * 0.5));
  }
}
@media screen and (max-width: 559px) {
  .card {
    width: 100%;
  }
}
.card__thumb-box {
  overflow: hidden;
}
.card__thumb {
  width: 100%;
  height: 150px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .card__thumb {
    height: 40vw;
  }
}
.card__body {
  min-height: 170px;
  padding: 24px;
  background-color: #efedf7;
}
@media screen and (max-width: 559px) {
  .card__body {
    padding: 8px 12px;
  }
}
.card__title {
  height: 42px;
  margin-bottom: 12px;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
}
.card__detail {
  min-height: 40px;
  padding: 0 12px;
  font-size: 0.75rem;
  color: #870e58;
}
.card__tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 80px;
}
@media screen and (max-width: 1199px) {
  .card__tag-list {
    padding-right: 50px;
  }
}
.card__tag-list .tag {
  margin-top: 12px;
}
.card:hover {
  color: #0f5387;
  background-color: #bea9ed;
}
.card:hover .card__thumb {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.card:hover .card__btn {
  background-color: #ede6fc;
}
.card__link {
  position: absolute;
  inset: 0;
  display: block;
}

.concentration-line-wrap {
  position: absolute;
  inset: -80px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.concentration-line-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.concentration-line {
  width: 150vmax;
  min-width: 150vmax;
  height: 150vmax;
  min-height: 150vmax;
  background: repeating-conic-gradient(transparent, transparent 12deg, rgba(224, 223, 223, 0.101) 12deg 15deg), repeating-conic-gradient(transparent, transparent 19deg, rgba(224, 223, 223, 0.101) 19deg 22deg), repeating-conic-gradient(transparent, transparent 6deg, rgba(224, 223, 223, 0.101) 6deg 8deg);
  -webkit-animation: rotate-anim 30s linear infinite;
          animation: rotate-anim 30s linear infinite;
}

@-webkit-keyframes rotate-anim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-anim {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.cross::before, .cross::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 100%;
  content: "";
  background: #fff;
}
.cross::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.cross::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.frame {
  position: relative;
  background-color: #f5f5f5;
  border: 6px double #d4c6c8;
}
.frame__text {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 559px) {
  .frame__text {
    font-size: 0.8rem;
  }
}

.heading {
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 24px;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: none;
  border-bottom: 4px solid #3a3a3a;
}

.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 40px 0;
}
@media screen and (max-width: 559px) {
  .pagination {
    padding-bottom: 100px;
  }
}
.pagination .page-numbers {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 12px;
  font-size: 1.5rem;
  line-height: 45px;
  color: #e4e4e4;
  text-align: center;
  background-color: #d1d1d1;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .pagination .page-numbers {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    line-height: 32px;
  }
}
.pagination .page-numbers:hover {
  background-color: #8f8f8f;
}
.pagination .page-numbers.current, .pagination .page-numbers.prev, .pagination .page-numbers.next {
  background-color: #8c63e6;
}
.pagination .page-numbers.prev:hover, .pagination .page-numbers.next:hover {
  background-color: #bea9ed;
}
.pagination .page-numbers.prev {
  margin-left: 0;
}
@media screen and (max-width: 559px) {
  .pagination .page-numbers.prev {
    position: absolute;
    bottom: 40px;
    left: 25%;
  }
}
.pagination .page-numbers.next {
  margin-right: 0;
}
@media screen and (max-width: 559px) {
  .pagination .page-numbers.next {
    position: absolute;
    right: 25%;
    bottom: 40px;
  }
}
.pagination .page-numbers.dots {
  color: #8f8f8f;
  background-color: transparent;
}
.pagination .page-numbers.prev::after, .pagination .page-numbers.next::after {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  width: 18px;
  height: 18px;
  margin: auto;
  content: "";
  border-top: 4px solid white;
  border-right: 4px solid white;
}
@media screen and (max-width: 767px) {
  .pagination .page-numbers.prev::after, .pagination .page-numbers.next::after {
    right: 18px;
    width: 12.8px;
    height: 12.8px;
  }
}
.pagination .page-numbers.prev::after {
  right: 10px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
@media screen and (max-width: 767px) {
  .pagination .page-numbers.prev::after {
    right: 8px;
  }
}
.pagination .page-numbers.next::after {
  right: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 767px) {
  .pagination .page-numbers.next::after {
    right: 12px;
  }
}

.txt-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .txt-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.txt-content.-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 767px) {
  .txt-content.-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.txt-content__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.txt-content__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 60px;
  margin: 0 120px;
}
@media screen and (max-width: 767px) {
  .gallery-list {
    gap: 40px 24px;
    margin: 0;
  }
}

.gallery-item {
  width: calc(20% - 12px);
}
@media screen and (max-width: 999px) {
  .gallery-item {
    width: calc(50% - 12px);
  }
}
.gallery-item__img {
  width: 100%;
  min-height: 8vw;
  max-height: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 999px) {
  .gallery-item__img {
    min-height: 16vw;
    max-height: 16vw;
  }
}
@media screen and (max-width: 767px) {
  .gallery-item__img {
    min-height: 24vw;
    max-height: 24vw;
  }
}
.gallery-item__caption {
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.news-list {
  padding: 120px 60px;
}
@media screen and (max-width: 1199px) {
  .news-list {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 767px) {
  .news-list {
    padding: 40px 12px;
  }
}
.news-list > * + * {
  margin-top: 80px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .news {
    display: block;
  }
}
.news__date {
  width: 10%;
  min-width: 150px;
  font-size: 0.75rem;
  color: #870e58;
}
@media screen and (max-width: 999px) {
  .news__date {
    min-width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .news__date {
    min-width: 110px;
  }
}
.news__badge {
  width: 15%;
  min-width: 15%;
  padding: 0 8px;
  margin: 0 4px;
  margin-left: 12px;
  font-size: 0.75rem;
  color: #e4e4e4;
  text-align: center;
  background-color: #8c63e6;
}
@media screen and (max-width: 767px) {
  .news__badge {
    display: inline-block;
    width: auto;
    min-width: auto;
  }
}
.news__title {
  margin-left: 40px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .news__title {
    display: block;
    margin: 12px 0 0;
    font-size: 1rem;
  }
}

.js-fadein {
  opacity: 0;
  /* stylelint-disable-next-line */
}
.js-fadein.js-animated {
  -webkit-animation-name: fade-in-botton;
          animation-name: fade-in-botton;
}
.js-fadein.-bottom.js-animated {
  -webkit-animation-name: fade-in-botton;
          animation-name: fade-in-botton;
}
.js-fadein.-right.js-animated {
  -webkit-animation-name: fade-in-right;
          animation-name: fade-in-right;
}
.js-fadein.-left.js-animated {
  -webkit-animation-name: fade-in-left;
          animation-name: fade-in-left;
}
.js-fadein.-top.js-animated {
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
}
.js-fadein.js-animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
          animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fade-in-botton {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fade-in-botton {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate(100px, 0);
            transform: translate(100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
* > .char {
  display: inline-block;
  opacity: 0;
}
*.js-animated > .char {
  -webkit-animation-name: fade-in-char;
          animation-name: fade-in-char;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
          animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
*.js-animated > .char:nth-of-type(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
*.js-animated > .char:nth-of-type(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
*.js-animated > .char:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
*.js-animated > .char:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
*.js-animated > .char:nth-of-type(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
*.js-animated > .char:nth-of-type(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
*.js-animated > .char:nth-of-type(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
*.js-animated > .char:nth-of-type(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
*.js-animated > .char:nth-of-type(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
*.js-animated > .char:nth-of-type(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
*.js-animated > .char:nth-of-type(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
*.js-animated > .char:nth-of-type(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
*.js-animated > .char:nth-of-type(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
*.js-animated > .char:nth-of-type(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
*.js-animated > .char:nth-of-type(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
*.js-animated > .char:nth-of-type(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
*.js-animated > .char:nth-of-type(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
*.js-animated > .char:nth-of-type(17) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
*.js-animated > .char:nth-of-type(18) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
*.js-animated > .char:nth-of-type(19) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
*.js-animated > .char:nth-of-type(20) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
*.js-animated > .char:nth-of-type(21) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
*.js-animated > .char:nth-of-type(22) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
*.js-animated > .char:nth-of-type(23) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
*.js-animated > .char:nth-of-type(24) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
*.js-animated > .char:nth-of-type(25) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
*.js-animated > .char:nth-of-type(26) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
*.js-animated > .char:nth-of-type(27) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
*.js-animated > .char:nth-of-type(28) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
*.js-animated > .char:nth-of-type(29) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}
*.js-animated > .char:nth-of-type(30) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes fade-in-char {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px) scale(2);
            transform: translateX(100px) scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes fade-in-char {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px) scale(2);
            transform: translateX(100px) scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
.u-txt-primary {
  color: #0f5387;
}

.u-txt-secondary {
  color: #870e58;
}

.u-txt-error {
  color: #a11010;
}

br.u-xl {
  display: none;
}
@media screen and (max-width: 1199px) {
  br.u-xl {
    display: block;
  }
}
br.u-lg {
  display: none;
}
@media screen and (max-width: 999px) {
  br.u-lg {
    display: block;
  }
}
br.u-md {
  display: none;
}
@media screen and (max-width: 767px) {
  br.u-md {
    display: block;
  }
}
br.u-sm {
  display: none;
}
@media screen and (max-width: 559px) {
  br.u-sm {
    display: block;
  }
}
br.u-xs {
  display: none;
}
@media screen and (max-width: 399px) {
  br.u-xs {
    display: block;
  }
}

.u-anchor {
  display: block;
  margin-top: -6rem;
  padding-top: 6rem;
  pointer-events: none;
}

.u-rounded {
  border-radius: 25px;
}

.u-shadow {
  -webkit-box-shadow: 0 0 5px #a5a5a5;
          box-shadow: 0 0 5px #a5a5a5;
}

.u-youtube-wrap {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 80px 0;
}

.u-youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.u-youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#section1 {
  padding-top: 40px;
  background: #ededed;
}

#section2 {
  padding-top: 40px;
} /* ----------------------------------------------------
  Image
----------------------------------------------------- */
.wp-caption.aligncenter,
img.aligncenter {
  display: block;
  margin: 0 auto;
}

.wp-caption.alignright,
img.alignright {
  float: right;
}

.wp-caption.alignleft,
img.alignleft {
  float: left;
}

.wp-caption.alignright,
.wp-caption.alignleft,
img.alignright,
img.alignleft {
  margin: 8px;
}

img[class*=wp-image-],
img[class*=attachment-] {
  max-width: 100%;
  height: auto;
}

.clearfix {
  overflow: hidden;
  zoom: 1;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.wp-caption {
  max-width: 100%;
}

.wp-block-image {
  padding-bottom: 2.5rem;
}

/* ----------------------------------------------------
  Embed
----------------------------------------------------- */
.wp-block-embed {
  margin-bottom: 2rem;
}
.wp-block-embed.aligncenter {
  display: block;
  text-align: center;
}
.wp-block-embed.alignright {
  max-width: none;
  text-align: right;
}
.wp-block-embed.alignwide {
  max-width: none;
  text-align: center;
}
.wp-block-embed.alignwide iframe {
  width: 80%;
}
.wp-block-embed.alignfull {
  max-width: none;
}
.wp-block-embed.alignfull iframe {
  width: 100%;
}

.wp-block-embed-youtube.wp-embed-aspect-16-9 {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.wp-block-embed-youtube.wp-embed-aspect-16-9.alignright {
  margin-right: 0;
}
.wp-block-embed-youtube.wp-embed-aspect-16-9.alignleft {
  margin-left: 0;
}
.wp-block-embed-youtube.wp-embed-aspect-16-9.alignwide {
  max-width: min(800px, 80%);
}
@media screen and (max-width: 767px) {
  .wp-block-embed-youtube.wp-embed-aspect-16-9.alignwide {
    max-width: none;
  }
}
.wp-block-embed-youtube.wp-embed-aspect-16-9.alignfull {
  max-width: none;
}
.wp-block-embed-youtube.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.wp-block-embed-youtube.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}